[Desktop Entry]
Version=1.0
Type=Application
Name=Reboot
Comment=Restart the computer
Exec=gamebian-session-action reboot
Icon=system-reboot
Terminal=false
Categories=System;
Keywords=reboot;restart;power;
