[Desktop Entry]
Version=1.0
Type=Application
Name=Applications
Comment=Browse and launch installed applications (rofi)
Exec=rofi -show drun -show-icons
Icon=/usr/share/pixmaps/menu-icon.png
Terminal=false
Categories=Utility;
