[Desktop Entry]
Type=Application
Version=1.0
Name=Install GamebianUbuntu
GenericName=Calamares Installer
Exec=calamares-install-gamebian
Comment=Installer for GamebianUbuntu Live
Keywords=calamares;system;install;gamebian;ubuntu;installer
Icon=gamebian-console
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
